# Build output
build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Ninja
.ninja_deps
.ninja_log

# MSVC
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.idb

# vcpkg installed packages
vcpkg_installed/

# Generated protobuf sources
proto_gen/

# IDE / editor
.vs/
.vscode/
*.suo
*.user
*.sln
*.vcxproj*
